.center-div {
  vertical-align: middle; 
  text-align: center;  
}

.fa-envelope {
  color: #0077B5;
}

.fa-linkedin {
  color: #0077B5;
}

.fa-futbol {
  color: #0077B5;
}

.img-circle {
  width: 150px;
}

.timeline-header {
  font-weight: bolder;
}

.profile-username {
  font-weight: bolder;
}

.card-title {
  font-weight: bolder;
  color: #737879;
}

.myInfoBox {
  margin-top: 300px;
  margin-left: 300px;
}


